    /* Global */
    body {
        background-color: #FFFFFF;
        font-family: 'Roboto', sans-serif;

    }

    a {
        text-decoration: none;
    }

    /* ul {} */

    .krapka {
        list-style: none;
        text-decoration-line: none;
    }

    .logo-web {
        color: #4D5AE5;
        font-family: 'Raleway';
        font-size: 18px;
        font-weight: 800;
        line-height: 1.33;
        letter-spacing: 0.03em;
    }

    .logo-studio {
        color: #2E2F42;
        font-family: 'Raleway';
        font-size: 18px;
        font-weight: 800;
        line-height: 1.33;
        letter-spacing: 0.03em;
    }

    .navigation {
        color: #2E2F42;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
        /* text-decoration-line: none; */
    }

    .navigation:hover,
    .navigation:focus {
        color: #404BBF;
    }

    .address {
        color: #434455;

        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
        text-decoration: none;
    }

    .address:hover,
    address:focus {
        color: #404BBF;
    }

    /* Main */

    .hero {
        background-color: #2E2F42;
    }

    .title-1 {
        color: #ffffff;

        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
    }

    .button {
        background-color: #4D5AE5;
        color: #FFFFFF;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;

        cursor: pointer;
    }

    .button:hover,
    .button:focus {
        color: #FFFFFF;
        background-color: #404BBF;
    }

    .title-2 {
        color: #2E2F42;


        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
    }

    .title-3 {
        color: #2E2F42;


        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .text-1 {
        color: #434455;


        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }


    .section-team-background {
        background-color: #F4F4FD;
    }

    .team {
        background-color: #FFFFFF;
    }

    /* Footer */

    .footer {
        background-color: #2E2F42;
    }

    .footer-text {
        color: #E7E9FC;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .logo-webf {
        color: #4D5AE5;

        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
    }

    .logo-studiof {
        color: #F4F4FD;

        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
    }



    .selection {
        background-color: #E7E9FC;
        color: #4D5AE5;

        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.04em;

        cursor: pointer;
    }

    .selection:hover,
    .selection:focus {
        background-color: #404BBF;
        color: #FFFFFF;
    }