/* Global */
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    width: 1440px;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    /* margin-top: 0; */
    /* margin-bottom: 0; */
    /* padding-left: 0; */
}

:root {
    --color-text-navigation: #2E2F42;
    --color-pressed-state: #404BBF;
    --color-text-address: #434455;
    --color-text-hero: #FFFFFF;
    --color-text-title: #2E2F42;
    --color-text-paragraf: #434455;
    --color-text-foter: #E7E9FC;
    --color-button-normal: #4D5AE5;
    --color-button-hover: #404BBF;
}

.link {
    text-decoration-line: none;
    list-style: none;
}

a {
    text-decoration-line: none;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-text-paragraf);
}


/* Geometry */
.reset-px {
    display: block;
}

.container {

    margin-left: auto;
    margin-right: auto;
    width: 1158px;

    /* outline: 2px solid yellow; */
}

.header-nav {
    height: 72px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 76px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.item-navigation:not(:last-child) {
    margin-right: 40px;
}

.header-address {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.item-address:not(:last-child) {
    margin-right: 40px;
}

.hero {
    height: 600px;
}

.item-hero {
    display: block;
    max-inline-size: 496px;
    padding-top: 188px;
    /* padding-left: 224px; */

}


.title-hero {
    margin-bottom: 48px;
}

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.features {
    display: flex;
    height: 300px;
}

.title-features {
    margin-bottom: 8px;
}

.item-features {
    display: block;
    padding-top: 120px;
}

.item-features:not(:last-child) {
    margin-right: 20px;
}


.text-features {
    margin-bottom: 120px;
}

.work {
    display: flex;
    margin-bottom: 120px;
    justify-content: space-between;
}

.title-job {
    margin-bottom: 72px;
    text-align: center;
}


.section-team-background {
    height: 732px;
    background: #F4F4FD;
}

.title-team {
    text-align: center;
    padding-top: 120px;
    margin-bottom: 72px;
}

.team-foto {
    display: flex;
}

.team {
    display: block;
    background-color: #FFFFFF;
    text-align: center;
}

.team-foto {
    justify-content: space-between;
}

.title-foto-team {
    margin-top: 32px;
    margin-bottom: 8px;
}

.skill {
    margin-bottom: 32px;
}

.footer {
    height: 310px;
}

.footer-logo {
    display: block;
    padding-top: 100px;
    margin-bottom: 16px;
}

.footer-text {
    max-inline-size: 264px;
}

/* Portfolio */

.list-selection {
    /* width: 1125px; */
    display: flex;
    padding-top: 96px;
    justify-content: center;
}

.item-selection:not(:last-child) {
    margin-right: 24px;
}

.item-selection {}

.selection {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    padding: 12px 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;

    color: #4D5AE5;
    background-color: #F4F4FD;

    border: 1px solid #E7E9FC;
    border-radius: 4px;

    margin-bottom: 72px;

    cursor: pointer;
}

.selection:hover,
.selection:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

.bank-foto {
    width: 1158px;
    margin-left: 156px;
}

.list-foto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.link-foto {
    border: 1px solid #E7E9FC;
    margin-bottom: 48px;
}

.title-foto {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--color-text-title);

    margin-top: 32px;
    margin-bottom: 8px;
    margin-left: 16px;
}

.text-foto {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-text-paragraf);

    margin-top: 8px;
    margin-bottom: 32px;
    margin-left: 16px;
}


/* Body  */
/* Header  */
.logo-web {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;

    color: #4D5AE5;

}

.logo-studio {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;

    color: #2E2F42;
}

.navigation {
    /* font-family: 'Roboto'; */
    /* font-style: normal; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-text-navigation);
}

.navigation:hover,
.navigation:focus {
    color: var(--color-pressed-state);
}

.address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-text-address);
}

.address:hover,
.address:focus {
    color: var(--color-pressed-state);
}



/* Main  */
.hero {
    background-color: #2E2F42;
}

.title-hero {

    /* font-family: 'Roboto'; */
    /* font-style: normal; */
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;

    color: var(--color-text-hero);

}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: #FFFFFF;
    background: var(--color-button-normal);
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;

    padding: 16px 32px;
}

.button:hover,
.button:focus {
    background-color: var(--color-button-hover);
}

.title-features {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: #2E2F42;
}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--color-text-title);
}

.title-job {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

    color: var(--color-text-title);
}

.title-foto-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--color-text-title);
}

.footer {
    background-color: #2E2F42;
}

.footrer-logo-web {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    color: #4D5AE5;
}

.footrer-logo-studio {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    color: #F4F4FD;
}

.footer-text {
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto';
    font-style: normal; */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-text-foter)
}