/* Global */
:root {
    --color-text-navigation: #2E2F42;
    --color-pressed-state: #404BBF;
    --color-text-address: #434455;
    --color-text-hero: #FFFFFF;
    --color-text-title: #2E2F42;
    --color-text-paragraf: #434455;
    --color-text-foter: #E7E9FC;
    --color-button-normal: #4D5AE5;
    --color-button-hover: #404BBF;
}


.link {
    text-decoration-line: none;
    list-style: none;
}

a {
    text-decoration-line: none;
}

/* Body  */
/* Header  */

/* .header {}
.container {}
.header-nav {}
.logo {} */

.logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;

    color: #4D5AE5;

}

.logo-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;

    color: #2E2F42;
}

/* .nav {} */

.navigation {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-text-navigation);
}

.navigation:hover,
.navigation:focus {
    color: var(--color-pressed-state);
}

/* .header-address {} */

.address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-text-address);
}

.address:hover,
.address:focus {
    color: var(--color-pressed-state);
}

/* Main  */
.hero {
    background-color: #2E2F42;
}

.title-hero {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;

    color: var(--color-text-hero);

}

.button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: #FFFFFF;
    background: var(--color-button-normal);
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button:hover,
.button:focus {
    background-color: var(--color-button-hover);
}

.title-features {}

.title-strategy {}

.text {}

.title-punctuality {}

.title-diligence {}

.title-technologies {}

.title-job {}

.reset-px {}

.section-team-background {}

.title-team {}

.team {}

.title-3 {}

.footer {}

.logo-webf {}

.logo-studiof {}

.footer-text {}